@font-face { font-family: Roboto Med; src: url('Roboto-Medium.ttf'); }
@font-face { font-family: Roboto Regular; src: url('Roboto-Regular.ttf'); } 

.toggle_site{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 140px;

    background-image: url("../img/spritesheet_logos.png");
    background-repeat: no-repeat;

    width: 95px;
    height: 52px;
    background-position: -63px -123px;
}

.toggle_site.clicked3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 140px;

    background-image: url("../img/spritesheet_logos.png");
    background-repeat: no-repeat;

    width: 95px;
    height: 52px;
    background-position: -193px -5px;
}

.settings_icon{
    height: fit-content;
    position: absolute;
    right: 14px;
}

.settings_slide{
    height: 100%;
    width: 0;
    max-width: 415px;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, rgba(26,35,50,1) 0%, rgba(72,77,106,1) 27%, rgba(72,77,106,1) 29%, rgba(72,77,106,1) 37%, rgba(152,94,111,1) 57%, rgba(72,77,106,1) 73%, rgba(72,77,106,1) 79%, rgba(72,77,106,1) 81%, rgba(26,35,50,1) 98%, rgba(26,35,50,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a2332', endColorstr='#1a2332', GradientType=1 );
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-shadow: -30px 0px 20px rgba(0,0,0,0.4);
}

.profile_options{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 32px;
}

.profile_option{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 66%, rgba(230,230,230,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=1 );
    border-top: 1px #9c9594 solid;
}

.dropdown_content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background: rgba(245,245,245,1);
    background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(216,219,219,1) 51%, rgba(216,219,219,1) 59%, rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#f5f5f5', GradientType=1 );
    border: none;
    text-decoration: none;
    display: none;
    box-shadow: inset 0px 21px 46px -11px rgba(51,51,51,1);
    overflow: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.follow_icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slideshow_left:active, .slideshow_right:active{
    background-color: #7d7d7d; 
}

.profile_option:active{
    box-shadow: inset 0px 0px 30px 0px rgba(0,0,0,0.75);
}


@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 

    body{
        display: flex;
        flex-direction: column;
        margin: 0;
        background-color: #f6f6f6;
    }
    
    header{
        z-index: 10;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 64px;
        background: linear-gradient(135deg, rgba(26,35,50,1) 0%, rgba(72,77,106,1) 27%, rgba(72,77,106,1) 29%, rgba(72,77,106,1) 37%, rgba(72,77,106,1) 73%, rgba(72,77,106,1) 79%, rgba(72,77,106,1) 81%, rgba(26,35,50,1) 98%, rgba(26,35,50,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a2332', endColorstr='#1a2332', GradientType=1 );
        box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
    }

    .logo_mobile{
        position: absolute;
        left: 14px;

        background-image: url("../img/spritesheet_logos.png");
        background-repeat: no-repeat;
        display: block;

        width: 60px;
        height: 60px;
        background-position: -5px -5px;
    }

    .logo_tablet{
        display: none;
    }

    .toggle_site{
        left: 140px;
    }

    .toggle_site.clicked3{
        left: 140px;
    }

    

    

    .settings_slide .closebtn {
        position: absolute;
        top: 0;
        left: 15px;
        font-size: 36px;
        margin-right: 50px;
        padding-left: 8px;
    }

    .settings_slide a {
        padding: 8px 8px 8px 23px;
        text-decoration: none;
        font-size: 24px;
        font-family: Roboto Regular;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .profile_site{
        background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 66%, rgba(230,230,230,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=1 );
        display: block;
    }

    .profile_site.clicked2{
        background: linear-gradient(to bottom, rgba(78,52,46,1) 0%, rgba(115,105,101,1) 24%, rgba(215,204,200,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e342e', endColorstr='#d7ccc8', GradientType=0 );
    }

    .focus_text {
        display: none;
    }

    .profile_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 96px;
    }

    .profile_pic1{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #985E6D;
        border-radius: 200px 200px 200px 200px;
        height: 100px;
        width: 100px;
        background-color: #985E6D;
    }

    .profile_pic1.clicked1{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 200px 200px 200px 200px;
        height: 100px;
        width: 100px;
        background-color: black;
    }

    .profile_name{
        font-family: Roboto Med;
        font-size: 28px;
        margin: 0;
        margin-top: 20px;
    }

    .profile_photos{
        display: flex;
        justify-content: center;
        padding-top: 32px;
    }

    .slideshow_container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        background-size: cover;
        position: relative;
        width: 300px;
        height: 180px;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    }

    .slideshow_img_profile:nth-child(1) {
        background-image: url('../img/street_pump.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 300px;
        height: 180px;
    }
    .slideshow_img_profile:nth-child(2){
        background-image: url('../img/supreme_mountain.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 300px;
        height: 180px;
    }
    .slideshow_img_profile:nth-child(3){
        background-image: url('../img/boost_750_scaled.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 300px;
        height: 180px;
    }
    .slideshow_img_profile:nth-child(4){
        background-image: url('../img/street_art_scaled.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 300px;
        height: 180px;
    }

    .slideshow_left{
        position: absolute;
        left:0;
        font-size: 13px;
        border: none;
        padding: 6px 12px 6px 12px;
        text-decoration: none;
        background-color: #f1f1f1;
        opacity: 0.8;
    }

    .slideshow_right{
        position: absolute;
        right: 0;
        font-size: 13px;
        border: none;
        padding: 6px 12px 6px 12px;
        text-decoration: none;
        background-color: #f1f1f1;
        opacity: 0.8;
    }
    
    

    

    

    
    .option_text{
        font-family: Roboto Regular;
    }

 

    .dropdown .dropdown_content .set_text{
        font-size: 20px;
        font-family: Roboto Regular;
        text-decoration: none;
        display: block;
        color:black;
        padding: 20px 20px 20px 20px;
    }

    .show {
        display:block;
    }

    .hide {
        display: none;
    }

    .social_site{
        display: none;
    }

    .social_site_show{
        background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 66%, rgba(230,230,230,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=1 );
        display: block;
    }

    .social_site_ipad_land{
        display: none;
    }

    .social_hot{
        display: flex;
        justify-content: center;
        padding-top: 96px;
        padding-bottom: 16px;
        border-bottom:1px #9c9594 solid; 
    }

    .picture_tablet{
        display: none;
    }
    .picture_tablet_land{
        display: none;
    }

    .picture_mobile{
        display: block;
    }

    .slideshow_hot_text{
        position: absolute;
        text-align: center;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.75);
        padding: 8px 0px 8px 0px;
        
        color: white;
        margin: 0;
        font-family: Roboto Regular;
    }

    .social_sale{
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom:1px #9c9594 solid; 
        padding-bottom: 16px;
    }

    .img_sale_mobile{
        background-image: url('../img/boost_750_scaled.jpg');
        background-repeat: no-repeat;
        width: 300px;
        height: 180px;
    }

    .img_sale_tablet {
        display: none;
    }

    .social_follow{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 16px;
    }

    

    .follow_icon{
        border: 1px solid rgba(182,209,27,1);
        background: radial-gradient(ellipse at center, rgba(121,85,72,1) 0%, rgba(222,13,173,1) 0%, rgba(127,161,152,1) 58%, rgba(182,209,27,1) 100%);
        border-radius: 200px 200px 200px 200px;
        height: 60px;
        width: 60px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

    body{
        display: flex;
        flex-direction: column;
        margin: 0;
        background-color: #f6f6f6;
    }

    header{
        z-index: 10;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 112px;
        background: linear-gradient(135deg, rgba(26,35,50,1) 0%, rgba(72,77,106,1) 27%, rgba(72,77,106,1) 29%, rgba(72,77,106,1) 37%, rgba(72,77,106,1) 73%, rgba(72,77,106,1) 79%, rgba(72,77,106,1) 81%, rgba(26,35,50,1) 98%, rgba(26,35,50,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a2332', endColorstr='#1a2332', GradientType=1 );
        box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
    }

    .logo_tablet{
        position: absolute;
        left: 14px;

        background-image: url("../img/spritesheet_logos.png");
        background-repeat: no-repeat;

        width: 108px;
        height: 108px;
        background-position: -75px -5px;
    }

    .logo_mobile{
        display: none;
    }

    .toggle_site{
        left: 336.5px;
    }

    .toggle_site.clicked3{
        left: 336.5px;
    }

 

    .settings_slide .closebtn {
        position: absolute;
        top: 0;
        left: 15px;
        font-size: 72px;
        margin-right: 50px;
        padding-top: 0;
        padding-left: 8px;
    }

    .settings_slide a {
        padding: 48px 8px 8px 23px;
        text-decoration: none;
        font-size: 38px;
        font-family: Roboto Regular;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .profile_site{
        background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 66%, rgba(230,230,230,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=1 );
        display: block;
    }

    .profile_site.clicked2{
        background: linear-gradient(to bottom, rgba(78,52,46,1) 0%, rgba(115,105,101,1) 24%, rgba(215,204,200,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e342e', endColorstr='#d7ccc8', GradientType=0 );
    }

    .focus_text {
        display: none;

    }

    .profile_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 160px;
    }

    .profile_pic1{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #985E6D;
        border-radius: 200px 200px 200px 200px;
        height: 200px;
        width: 200px;
        background-color: #985E6D;
    }

    .profile_pic1.clicked1{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 200px 200px 200px 200px;
        height: 200px;
        width: 200px;
        background-color: black;
    }

    .profile_name{
        font-family: Roboto Med;
        font-size: 50px;
        margin: 0;
        margin-top: 20px;
    }

    .profile_photos{
        display: flex;
        justify-content: center;
        padding-top: 32px;
    }

    .slideshow_container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        background-size: cover;
        position: relative;
        width: 600px;
        height: 360px;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    }

    .slideshow_img_profile:nth-child(1) {
        background-image: url('../img/street_pump_tablet.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 600px;
        height: 360px;
    }
    .slideshow_img_profile:nth-child(2){
        background-image: url('../img/supreme_mountain_tablet.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 600px;
        height: 360px;
    }
    .slideshow_img_profile:nth-child(3){
        background-image: url('../img/boost_750_scaled_tablet.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 600px;
        height: 360px;
    }
    .slideshow_img_profile:nth-child(4){
        background-image: url('../img/street_art_scaled_tablet.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 600px;
        height: 360px;
    }

    .slideshow_left{
        position: absolute;
        left:0;
        font-size: 26px;
        border: none;
        padding: 12px 24px 12px 24px;
        text-decoration: none;
        background-color: #f1f1f1;
        opacity: 0.8;
    }

    .slideshow_right{
        position: absolute;
        right: 0;
        font-size: 26px;
        border: none;
        padding: 12px 24px 12px 24px;
        text-decoration: none;
        background-color: #f1f1f1;
        opacity: 0.8;
    }
    
    


   

    .option_text{
        font-family: Roboto Regular;
        font-size: 50px;
    }


    

    .dropdown .dropdown_content .set_text{
        font-size: 40px;
        font-family: Roboto Regular;
        text-decoration: none;
        display: block;
        color:black;
        padding: 20px 20px 20px 20px;
    }

    .show {
        display:block;
    }

    .hide {
        display: none;
    }

    .social_site{
        display: none;
    }

    .social_site_show{
        background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 66%, rgba(230,230,230,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=1 );
        display: block;
    }

    .social_site_ipad_land{
        display: none;
    }

    .social_hot{
        display: flex;
        justify-content: center;
        padding-top: 200px;
        padding-bottom: 90px;
        border-bottom:1px #9c9594 solid; 
    }

    .picture_tablet{
        display: block;
    }

    .picture_tablet_land{
        display: none;
    }

    .picture_mobile{
        display: none;
    }

    .slideshow_hot_text{
        position: absolute;
        text-align: center;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.75);
        padding: 8px 0px 8px 0px;
        
        color: white;
        margin: 0;
        font-family: Roboto Regular;
        font-size: 50px;
    }

    .social_sale{
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom:1px #9c9594 solid; 
        padding-bottom: 90px;
    }

    .img_sale_tablet{
        background-image: url('../img/boost_750_scaled_tablet.jpg');
        background-repeat: no-repeat;
        width: 600px;
        height: 360px;
    }

    .img_sale_mobile {
        display: none;
    }

    .social_follow{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 90px;
    }


    .follow_icon{
        border: 1px solid rgba(182,209,27,1);
        background: radial-gradient(ellipse at center, rgba(121,85,72,1) 0%, rgba(222,13,173,1) 0%, rgba(127,161,152,1) 58%, rgba(182,209,27,1) 100%);
        border-radius: 200px 200px 200px 200px;
        height: 120px;
        width: 120px;
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

    body{
        display: flex;
        flex-direction: row;
        margin: 0;
        background-color: #f6f6f6;
    }

    header{
        z-index: 10;
        display: flex;
        flex-direction: row;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 112px;
        background: linear-gradient(135deg, rgba(26,35,50,1) 0%, rgba(72,77,106,1) 27%, rgba(72,77,106,1) 29%, rgba(72,77,106,1) 37%, rgba(152,94,111,1) 57%, rgba(72,77,106,1) 73%, rgba(72,77,106,1) 79%, rgba(72,77,106,1) 81%, rgba(26,35,50,1) 98%, rgba(26,35,50,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a2332', endColorstr='#1a2332', GradientType=1 );
        box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
        z-index: 2;
    }

    .logo_tablet{
        position: absolute;
        left: 14px;

        background-image: url("../img/spritesheet_logos.png");
        background-repeat: no-repeat;
        width: 108px;
        height: 108px;
        background-position: -75px -5px;
    }

    .logo_mobile{
        display: none;
    }

    .toggle_site{
       display: none;
    }

    .toggle_site.clicked3{
        display: none;
    }



    .settings_slide .closebtn {
        position: absolute;
        top: 0;
        left: 15px;
        font-size: 72px;
        margin-right: 50px;
        padding-top: 0;
        padding-left: 8px;
    }

    .settings_slide a {
        padding: 48px 8px 8px 23px;
        text-decoration: none;
        font-size: 38px;
        font-family: Roboto Regular;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .profile_site{
        background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 66%, rgba(230,230,230,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=1 );
        display: block;
        width: 50%;
        overflow-x: hidden;
        position: absolute;
        left: 0;
        text-align: center;
    }

    .profile_site.clicked2{
        background: linear-gradient(to bottom, rgba(78,52,46,1) 0%, rgba(115,105,101,1) 24%, rgba(215,204,200,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e342e', endColorstr='#d7ccc8', GradientType=0 );
    }

    .focus_text {
        font-family: Roboto Med;
        margin-top: 120px;
        color: #7c9599;
    }

    .profile_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
    }

    .profile_pic1{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #985E6D;
        border-radius: 200px 200px 200px 200px;
        height: 200px;
        width: 200px;
        background-color: #985E6D;
    }

    .profile_pic1.clicked1{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 200px 200px 200px 200px;
        height: 200px;
        width: 200px;
        background-color: black;
    }

    .profile_name{
        font-family: Roboto Med;
        font-size: 32px;
        margin: 0;
        margin-top: 20px;
    }

    .profile_photos{
        display: flex;
        justify-content: center;
        padding-top: 32px;
    }

    .slideshow_container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        background-size: cover;
        position: relative;
        width: 300px;
        height: 180px;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    }

    .slideshow_img_profile:nth-child(1) {
        background-image: url('../img/street_pump.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 300px;
        height: 180px;
    }
    .slideshow_img_profile:nth-child(2){
        background-image: url('../img/supreme_mountain.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 300px;
        height: 180px;
    }
    .slideshow_img_profile:nth-child(3){
        background-image: url('../img/boost_750_scaled.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 300px;
        height: 180px;
    }
    .slideshow_img_profile:nth-child(4){
        background-image: url('../img/street_art_scaled.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 300px;
        height: 180px;
    }

    .slideshow_left{
        position: absolute;
        left:0;
        font-size: 13px;
        border: none;
        padding: 6px 12px 6px 12px;
        text-decoration: none;
        background-color: #f1f1f1;
        opacity: 0.8;
    }

    .slideshow_right{
        position: absolute;
        right: 0;
        font-size: 13px;
        border: none;
        padding: 6px 12px 6px 12px;
        text-decoration: none;
        background-color: #f1f1f1;
        opacity: 0.8;
    }
    
    



   

    .option_text{
        font-family: Roboto Regular;
        font-size: 32px;
    }


   

    .dropdown .dropdown_content .set_text{
        font-size: 24px;
        font-family: Roboto Regular;
        text-decoration: none;
        display: block;
        color:black;
        padding: 20px 20px 20px 20px;
    }

    .show {
        display:block;
    }

    .hide {
        display: none;
    }

    .picture_tablet_portrait{
        display: none;
    }

    .picture_tablet_land{
        display: block;
    }

    .picture_mobile{
        display: none;
    }

    .social_site{
        display: none;
    }

    .social_site_ipad_land{
        background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 66%, rgba(230,230,230,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=1 );
        display: block;
        width: 50%;
        overflow-x: hidden;
        position: absolute;
        right: 0;
        border-left: 4px #9c9594 solid;
        text-align: center;

    }

    .social_hot{
        display: flex;
        justify-content: center;
        padding-top: 80px;
        padding-bottom: 90px;
        border-bottom:1px #9c9594 solid; 
    }

    .slideshow_hot_text{
        position: absolute;
        text-align: center;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.75);
        padding: 8px 0px 8px 0px;
        
        color: white;
        margin: 0;
        font-family: Roboto Regular;

    }

    .social_sale{
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom:1px #9c9594 solid; 
        padding-bottom: 16px;
    }

    .img_sale_tablet{
        display: none;
    }

    .img_sale_mobile{
        background-image: url('../img/boost_750_scaled.jpg');
        background-repeat: no-repeat;
        width: 300px;
        height: 180px;
    }

    .social_follow{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 18.1px;
    }


    .follow_icon{
        border: 1px solid rgba(182,209,27,1);
        background: radial-gradient(ellipse at center, rgba(121,85,72,1) 0%, rgba(222,13,173,1) 0%, rgba(127,161,152,1) 58%, rgba(182,209,27,1) 100%);
        border-radius: 200px 200px 200px 200px;
        height: 70px;
        width: 70px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .easter_egg1{
        display: none;
    }

    .easter_egg1.fill_out_custom{
        height: 191px;
        display: block;
    }

    .easter_egg2{
        display: none;
    }

    .easter_egg2.fill_out_brag{
        height: 122px;
        display: block;
    }
}

@media screen and (min-device-width: 1200px){ 

    body{
        display: flex;
        flex-direction: column;
        margin: 0;
        background-color: #f6f6f6;
    }

    header{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 120px;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, rgba(26,35,50,1) 0%, rgba(72,77,106,1) 27%, rgba(72,77,106,1) 29%, rgba(72,77,106,1) 37%, rgba(152,94,111,1) 57%, rgba(72,77,106,1) 73%, rgba(72,77,106,1) 79%, rgba(72,77,106,1) 81%, rgba(26,35,50,1) 98%, rgba(26,35,50,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a2332', endColorstr='#1a2332', GradientType=1 );
        box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
        z-index: 999;
    }

    .logo_mobile{
        display: none;
    }

    .logo_tablet{
        background-image: url("../img/spritesheet_logos.png");
        background-repeat: no-repeat;

        width: 108px;
        height: 108px;
        background-position: -75px -5px;
    }

    .toggle_site{
        display: none;
    }

    .toggle_site.clicked3{
        display: none;
    }

    .settings_icon{
        display: none;
    }

    .settings_slide{
        display: none;
    }

    .profile_site{
        background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 66%, rgba(230,230,230,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=1 );
        width: 50%;
        position: absolute;
        left: 0;
        text-align: center;
    }

    .profile_site.clicked2{
        background: linear-gradient(to bottom, rgba(78,52,46,1) 0%, rgba(115,105,101,1) 24%, rgba(215,204,200,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e342e', endColorstr='#d7ccc8', GradientType=0 );
    }

    .focus_text {
        display: none;

    }

    .profile_info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 160px;
    }

    .profile_pic1{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #985E6D;
        border-radius: 200px 200px 200px 200px;
        height: 200px;
        width: 200px;
        background-color: #985E6D;
    }

    .profile_pic1.clicked1{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 200px 200px 200px 200px;
        height: 200px;
        width: 200px;
        background-color: black;
    }

    .profile_name{
        font-family: Roboto Med;
        font-size: 50px;
        margin: 0;
        margin-top: 20px;
    }

    .profile_photos{
        display: flex;
        justify-content: center;
        padding-top: 90px;
    }

    .slideshow_container{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        background-size: cover;
        position: relative;
        width: 600px;
        height: 360px;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    }

    .slideshow_img_profile:nth-child(1) {
        background-image: url('../img/street_pump_tablet.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 600px;
        height: 360px;
    }
    .slideshow_img_profile:nth-child(2){
        background-image: url('../img/supreme_mountain_tablet.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 600px;
        height: 360px;
    }
    .slideshow_img_profile:nth-child(3){
        background-image: url('../img/boost_750_scaled_tablet.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 600px;
        height: 360px;
    }
    .slideshow_img_profile:nth-child(4){
        background-image: url('../img/street_art_scaled_tablet.jpg');
        background-repeat: no-repeat;
        display: none;
        width: 600px;
        height: 360px;
    }

    .slideshow_left{
        position: absolute;
        left:0;
        font-size: 26px;
        border: none;
        padding: 12px 24px 12px 24px;
        text-decoration: none;
        background-color: #f1f1f1;
        opacity: 0.8;
    }

    .slideshow_right{
        position: absolute;
        right: 0;
        font-size: 26px;
        border: none;
        padding: 12px 24px 12px 24px;
        text-decoration: none;
        background-color: #f1f1f1;
        opacity: 0.8;
    }
    
   
    .profile_options{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 90px;
    }



   

    .option_text{
        font-family: Roboto Regular;
        font-size: 32px;
    }

    

   

    .dropdown .dropdown_content .set_text{
        font-size: 28px;
        font-family: Roboto Regular;
        text-decoration: none;
        display: block;
        color:black;
        padding: 20px 20px 20px 20px;
    }

    .show {
        display:block;
    }

    .hide {
        display: none;
    }

    .picture_tablet_portrait{
        display: none;
    }

    .picture_tablet_land{
        display: block;
    }

    .picture_mobile{
        display: none;
    }

    .social_site{
        background: linear-gradient(to right, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 66%, rgba(230,230,230,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#e6e6e6', GradientType=1 );
        display: block;
        width: 50%;
        position: absolute;
        right: 0;
        border-left: 4px #9c9594 solid;
        text-align: center;
    }

    .social_site_ipad_land{
        display: none;
    }

    .social_hot{
        display: flex;
        justify-content: center;
        padding-top: 160px;
        padding-bottom: 40px;
        border-bottom:1px #9c9594 solid; 
    }

    .slideshow_hot_text{
        position: absolute;
        text-align: center;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.75);
        padding: 8px 0px 8px 0px;
        
        color: white;
        margin: 0;
        font-family: Roboto Regular;

    }

    .social_sale{
        display: flex;
        align-items: center;
        flex-direction: column;
        border-bottom:1px #9c9594 solid; 
        padding-bottom: 40px;
    }

    .img_sale_tablet{
        background-image: url('../img/boost_750_scaled_tablet.jpg');
        background-repeat: no-repeat;
        width: 600px;
        height: 360px;
    }

    .img_sale_mobile{
        display: none;
    }
    .social_follow{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 18.1px;
    }



    .follow_icon{
        border: 1px solid rgba(182,209,27,1);
        background: radial-gradient(ellipse at center, rgba(121,85,72,1) 0%, rgba(222,13,173,1) 0%, rgba(127,161,152,1) 58%, rgba(182,209,27,1) 100%);
        border-radius: 200px 200px 200px 200px;
        height: 95px;
        width: 95px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .easter_egg1{
        display: none;
    }

    .easter_egg1.fill_out_custom{
        height: 206px;
        display: block;
    }

    .easter_egg2{
        display: none;
    }

    .easter_egg2.fill_out_brag{
        height: 134px;
        display: block;
    }
}